.root-form {
  width: 800px;
  height: 510px;
  padding: 15px;
  display: flex;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 20px 0px rgba(212, 212, 212, 0.2)
}

.steps-div{
  width: 30%;
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
}

.button:hover{
  opacity: .9;
}
.button:active{
  opacity: .8;
}

input:focus{
  border-color: var(--purplish-blue) !important;
  outline: var(--purplish-blue) 1px solid;
}

input:invalid{
  border-color: var(--strawberry-red) !important;
  outline: var(--strawberry-red) 1px solid;
}

input:invalid + .span{
  color: var(--strawberry-red) !important;
  display: block !important;
}