@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
  --gray: hsl(222, 8%, 77%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(258, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400, 500, 700;
  -webkit-font-smoothing: antialiased;
  display: grid;
  place-items: center;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--magnolia);
  font-size: 16px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
